*{
    margin: 0px;
}
#name{
    font-size: 32px;
    color: white;
   
}
#ul{
    display: flex;
    text-decoration: none;
     list-style: none;
     gap: 15px;
}
#ul a{
    color: gray;
    text-decoration: none;
}
#ul a:hover{
    color: white;
}
.nav{
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 24px;
    padding: 40px;

}
.header{
    background-color: black;
    color: white;
   padding-bottom: 50px;
   margin-bottom: 100px;
    
}
#profile{
    display: flex;
    margin: 80px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
}
.text{
    width: 50%;
    padding-left: 50px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   
}
.text p{
    color: gray;
    width: 75%;
}
#profile img{
    width: 100%;

}
.text h1{
    font-size: 30px;
    font-style: bold;
   
}
.text button{
    height: 30px;
    width: 115px;
    border-radius: 4px;
    background-color: white;
     color: black;
     margin-top: 20px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
     padding: 30px;
     border-radius: 16px;
     gap: 6px;
}
.flex img{
   
    border-radius: 16px;
    max-width: 100%;
   
}
.flex-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main{
    padding: 96px;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    gap: 8px;

}
.title{
    font-size: 48px;
    font-style: bold;
    text-align: center;
    margin-bottom: 16px;
}
.s-1{
    color: gray;
}
.btn-v{
     height: 30px;
    width: 115px;
    border-radius: 4px;
    background-color: white;
     color: black;
     margin-top: 20px;
}